-var year = new Date().getFullYear();

footer(class='footer')
    p(class='footer__copyright') © #{year} Cone
        button(class='js-scroll-to-top footer__scroll-to-top' aria-label='Scroll to the top')
            +icon('arrow-upward')