$breakpoints: (
    xs: 32rem,
    sm: 48rem,
    md: 64rem,
    lg: 80rem,
    xl: 90rem
);

@mixin breakpoint($name, $breakpoints: $breakpoints) {
    $breakpoint: map-get($breakpoints, $name);

    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin visually-hidden() {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
