:root {
    --color-primary-lighter: hsl(194, 100%, 53%);
    --color-primary-light: hsl(194, 100%, 43%);
    --color-primary: hsl(208, 100%, 33%);
    --color-primary-dark: hsl(194, 100%, 23%);
    --color-primary-darker: hsl(194, 100%, 13%);

    --color-secondary-lighter: hsl(186, 82%, 67%);
    --color-secondary-light: hsl(186, 82%, 57%);
    --color-secondary: hsl(186, 82%, 47%);
    --color-secondary-dark: hsl(186, 82%, 37%);
    --color-secondary-darker: hsl(186, 82%, 27%);

    --color-gray-light: hsl(186, 0%, 76%);
    --color-gray: hsl(186, 0%, 56%);
    --color-gray-dark: hsl(186, 0%, 36%);
    
    --color-black: hsl(186, 5%, 15%);

    --color-success: hsl(100, 77%, 44%);
    --color-info: hsl(209, 100%, 55%);
    --color-warning: hsl(40, 96%, 53%);
    --color-danger: hsl(359, 100%, 66%);

    --border-radius-small: 0.25rem;
    --border-radius-large: 0.5rem;

    --font-family-base: 'Poppins', sans-serif;

    --line-height-base: 1.75;
    --line-height-heading: 1.3;

    --heading-scale: 1.414;

    --transition-duration: 0.15s;
    --transition-timing-function: ease;

    @media (prefers-reduced-motion: reduce) {
        --transition-duration: 0;
    }
}
