header(class='header')
  div(class='header__container')
    div(class='header__inner')
      a(href='index.html' class='header__logo')
        img(src='../../assets/img/cone-logo.svg' alt='Cone' width='100' height='26')
