include ../../../assets/mixins

div(class='testimonials')
    each testimonial in testimonials
        div(class='testimonial')
            +icon(testimonial.icon, 'testimonial__icon')
            h3(class='testimonial__title')= testimonial.title
            p(class='testimonial__description')= testimonial.description
